{% extends 'base.html'%}

{%block content %}
<!---Error Page---->
<section class="hero is-link is-fullheight">
    <div class="hero-body">
      <div class="container">
        <div class="columns is-centered">
          <div class="column is-5-tablet is-4-desktop is-3-widescreen">
            <div class="columns">
                <div class="column is-two-thirds is-multiline">
                    <img src = "https://raw.communitydragon.org/latest/game/assets/loadouts/summoneremotes/champions/nunu/em_nunu_shocked_vfx.png">
                    <p> Error - Please wait a while for our API Key to refresh, or check summonerName and Region is Correct.</p>
                </div>
            </div>
          </div>
        </div>
      </div>
    </div>
</section>

{% endblock %}

