{% extends 'base.html'%}

{%block content %}
<script src="https://www.kryogenix.org/code/browser/sorttable/sorttable.js"></script>

<table class="sortable">
    <thead>
      <tr>
        <th><abbr title="Champion">Champion</abbr></th>
        <th><abbr title="Kills">K</abbr></th>
        <th><abbr title="Deaths">D</abbr></th>
        <th><abbr title="Assists">A</abbr></th>
        <th><abbr title="Won">W</abbr></th>
        <th><abbr title="Won">GameDuration</abbr></th>
        
      </tr>
    </thead>

    {% for matches in data %}
    {% set link = ["https://ddragon.leagueoflegends.com/cdn/12.6.1/img/champion/" ~ matches[0] ~ ".png"]|join %}
    
    
    <tr>
        <td><figure class="image is-24x24px"><img src= {{link}}> </figure></td>
        <td>{{ matches[1]|round(0) }}</td>
        <td>{{ matches[2]|round(0) }}</td>
        <td>{{ matches[3]|round(0) }}</td>
        <td> <progress class="progress is-success" value="{{matches[4] * 100|round(0)}}" max="100"></progress>{{(matches[4] * 100)|round(0)}}%</td>
        <td>{{ matches[5]|round(0) }}</td>
    </tr>
    {% endfor %}
</tbody>
</table>


{% endblock %}