{% extends 'base.html'%}

<!---Search Summoner Page---->
{%block content %}
<section class="hero is-link is-fullheight">
    <div class="hero-body">
      <div class="container">
        <div class="columns is-centered">
          <div class="column is-5-tablet is-4-desktop is-3-widescreen">
            <div class="columns">
                <div class="column is-two-thirds is-multiline">
                    <form onsubmit='searchSummoner(summoner,Region); return false;'>
                        <input name="summoner" placeholder="Summoner Name" class="input is-info">
                        <div class="select is-info">
                            <select name=Region>
                            <option>EUN1</option>
                            <option>EUW1</option>
                            <option>JP1</option>
                            <option>KR</option>
                            <option>LA1</option>
                            <option>LA2</option>
                            <option>NA1</option>
                            <option>RU</option>
                            </select>
                        </div>
                        <button class="button is-info">Search</button>
                    </form>
        </div>
            </div>
          </div>
        </div>
      </div>
    </div>
</section>

<script>
  ///Search Summoner by Name,Region redirect to stats page
	function searchSummoner(summonerName, Region) {
		summonerName = summonerName.value;
		Region = Region.value;
		window.location.href = "summoner?summoner=" + summonerName + "&region=" + Region;
	}
	
	</script>
</body>


{% endblock %}

