{% extends 'base.html'%}

{%block content %}
    <div class="columns">
        <div class="column is-two-thirds">is-two-thirds
            <form onsubmit='searchSummoner(summoner,Region); return false;'>
                <input name="summoner" placeholder="Summoner Name" />
                <div class="select">
                    <select  name=Region>
                    <option>EUN1</option>
                    <option>EUW1</option>
                    <option>JP1</option>
                    <option>KR</option>
                    <option>LA1</option>
                    <option>LA2</option>
                    <option>NA1</option>
                    <option>RU</option>
                    </select>
                </div>
                <button class="button is-info">Search</button>
			</form>
</div>
	

<script>
	function searchSummoner(summonerName, Region) {
		summonerName = summonerName.value;
		Region = Region.value;
		window.location.href = "summoner?summoner=" + summonerName + "&region=" + Region;
	}
	
	</script>
</body>


{% endblock %}