
{% extends 'base.html'%}

{%block content %}
<style>
  .card {
    height: 100%;
    margin: auto;
  }.columns.is-vcentered {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }
  .column.is.half-inline{
    flex-wrap: wrap;
    align-content: center; /* used this for multiple child */
    align-items: center; /* if an only child */
    display: inline
  }
  ul {
  list-style-type: none;
  }

  [type=radio] { 
  position: absolute;
  opacity: 0;
  width: 0;
  height: 0;
  }

  /* https://stackoverflow.com/questions/17541614/use-images-instead-of-radio-buttons */
  /* IMAGE STYLES */
  [type=radio] + img {
  cursor: pointer;
  }
  /* CHECKED STYLES */
  [type=radio]:checked + img {
    opacity: 1;
  }
  
  [type=radio]:not(:checked) + img {
     opacity: 0.6;
  }
  /**/
  input[type=radio] {
    border: 0px;
    height: 2em;

  }

</style>

<div class="column half">
  <div class="card">
      <div class="card-content">
        <div class="content">
          <h1> Solo Predictor Tool</h1>
          <p> Once Data has been submited please wait a couple of mins for a response. Please do not spam the run match button.</p>
          <p> Submit summoner name, Select Region and Role by clicking on an Image</p>
          <p> Select a champion for both red and blue side by clicking on a champion Image, then search.</p>
        </div>
      </div>
  </div>
</div>


<div class="columns is-multiline"> 
      <div class="column half">
          <div class="card">
              <div class="card-content">
                <div class="content">
                  <form onsubmit='summonerAvg(summoner,Region); return false;'>
                    <input name="summoner" placeholder="Summoner Name" class="input is-info">
                    <div class="select is-info">
                        <select name=Region>
                        <option>EUN1</option>
                        <option>EUW1</option>
                        <option>JP1</option>
                        <option>KR</option>
                        <option>LA1</option>
                        <option>LA2</option>
                        <option>NA1</option>
                        <option>RU</option>
                        </select>
                    </div>
                    <button class="button is-info">Search</button>
                </form>
                {% for role in RoleSelect %}
                  <label>
                    <input type="radio" name="role" value="{{role['RoleId']}}">
                    <img src="{{role['RoleLink']}}" height = 60 width = 60 alt="">
                  </label>
                {% endfor %}
                  </div>
                </div>
              </div>
      </div>
</div>

<div class="columns is-multiline"> 
  <div class="column half">
    <div class="card has-background-info">
      <div class="card-content">
        <div class="content">
          {% for champ in Champions %}
            {% set output = "https://ddragon.leagueoflegends.com/cdn/13.6.1/img/champion/" + champ['ChampionName'] + ".png" %}
                <label>
                  <input type="radio" name="champ" value="{{champ['ChampionId']}}">
                  <img src="{{output}}" height = 60 width = 60 alt="">
                </label>
        {% endfor %}
        </div>
      </div>
    </div>
  </div>
  
    <div class="column half">
      <div class="card has-background-danger">
        <div class="card-content">
          <div class="content">
        {% for champ in Champions %}
          {% set output = "https://ddragon.leagueoflegends.com/cdn/13.6.1/img/champion/" + champ['ChampionName'] + ".png" %}
          <label>
            <input type="radio" name="enemyChamp" value="{{champ['ChampionId']}}">
            <img src="{{output}}" height = 60 width = 60 alt = "{{champ['ChampionId']}}">
          </label>
      {% endfor %}
        </div>
      </div>
    </div>
    </div>
</div>
  <script> 
  /// Store Response
  var obj;

  /// Get Link
  // Remove /matchPredictor
  let link = String(window.location.href)
  link = link.slice(0, -12); 


  function summonerAvg(summonerName, Region) {
      summonerName = summonerName.value;
      Region = Region.value;
      PickedChamp = parseInt(document.querySelector('input[name="champ"]:checked').value);
      EnemyChamp = parseInt(document.querySelector('input[name="enemyChamp"]:checked').value);
      role = parseInt(document.querySelector('input[name="role"]:checked').value);
      fetch(link + "summData?summoner="+ summonerName + "&region=" + Region + "&champ=" + PickedChamp + "&enemyChamp= " + EnemyChamp + "&lane=" + role)
        .then((response) => response.json())
        .then(data => {
          obj = data;
          postItem(obj)
        })
      }

function postItem(data){
  fetch(link + 'predictSolo', {
    method: 'POST',
    headers: {
        'Accept': 'application/json',
        'Content-Type': 'application/json'
      },
      body: JSON.stringify({ 
        "MinionsKilled": data['cs'],
        "kills": data['kills'],
        "assists": data['assists'],
        "deaths": data['deaths'],
        "TotalGold": data['goldEarned'],
        "DmgDealt": data['physicalDamageDealtToChampions'],
        "DmgTaken": data['physicalDamageTaken'],
        "DragonKills": data['dragonKills'],
        "BaronKills": data['baronKills'],
        "GameDuration": data['GameDuration'],
        "TurretDmgDealt": data['TowerDamageDealt'],
        "ChampionFk": data['ChampId'],
        "masteryPoints": data['masteryPoints'],
        "EnemyChampionFk": data['enemyChamp'],
        "lane": data['lane']
      })
  })
  /* https://stackoverflow.com/questions/45018338/javascript-fetch-api-how-to-save-output-to-variable-as-an-object-not-the-prom */
    .then(response => response.json())
    .then(data => {
      obj = data;
    })
    .then(() =>{ 
      alert(obj.pred);
    })
  }

      
  </script>
        
{% endblock %}