{% extends 'base.html'%}

{%block content %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.5.0/Chart.min.js"></script>
<script src="https://www.kryogenix.org/code/browser/sorttable/sorttable.js"></script>

	<style>
    .title{
      font-size: 50px;
    }
   span{
      background: none repeat scroll 0 0 #F8F8F8;
      border: solid #DFDFDF;
      color: #717171;
      font-size: 13px;
      height: 30px;
      letter-spacing: 1px;
      line-height: 30px;
      margin: 0 auto;
      position: absolute;
      text-align: left;
      text-transform: uppercase;
      top: 0px;
      left:0px;
      display:none;


    }
    span:after        
    {   
      position:relative;
      background: #fff;
      margin-left:100px;
      display: block;
      width: 1000px;
      height: 220px;
      padding: 10px;
      border-radius: 2px 2px 2px 2px;
      -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
      -moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
      box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
    }
    p{
        float:left;
        position:relative;
        cursor:pointer;
        
        
    }
    p:hover span{
        display: block;
        height: auto;
        width: auto;  
        position:-webkit-sticky;
        top:50px;
        left:50px;
        z-index: 1;
        width:500px;
  
    }
    .inlineB{
      display: inline-block;
    }
		.card {
			height: 100%;
			margin: auto;
		}.columns.is-vcentered {
			-webkit-box-align: center;
			-ms-flex-align: center;
			align-items: center;
		}
		.column.is.half-inline{
			flex-wrap: wrap;
			align-content: center; /* used this for multiple child */
			align-items: center; /* if an only child */
			display: inline
		}
		ul {
		list-style-type: none;
		}

		[type=radio] { 
		position: absolute;
		opacity: 0;
		width: 0;
		height: 0;
		}
   .columns.is-multiline {
    padding-top:15px;
    padding-left: 5px;
    padding-right: 5px;
   }

   .level-item.has-text-centered p {
    font-size: 32px;
   }
  
   
	</style>

<div class="columns is-multiline">
    <div class="column is-three-fifths">
        <div class="card">
            <div class="card-content">
  
              <div class="content">
                <h1>{{ championStats.id }} {{ championStats.title }} {{ SummonerName }}</h1>
                <figure class="image is-128x128">
                     <img class="is-rounded" src="{{ championStats.imageLink }}">
                </figure>
             
                <h2>{{ championStats.tags[0] }}</h2>
                <h2>{{ championStats.tags[1] }}</h2>

                
                <div class ="has-text-right">

                </div>
              </div>
            </div>
        </div>
    </div>
    <div class="column">
      <div class="card">
          <div class="card-content">
            <div class="level-item has-text-centered">
              <div class="level-item has-text-centered">
                <div>
              <h3 class="heading">Stats</h3>
              <h3 class="title"> K / D / A</h3>
              <h4 class="title">{{ kda }}</h4>

              <h3 class="heading">Win Rate</h3>
              <h3 class ="title">{{winRate}} %</h3>

                </div>
              </div>
            </div>
          </div>
      </div>
    </div>

    <div class="column">
      <div class="card">
          <div class="card-content">
            <div class="level-item has-text-centered">
              <div>
                <h3 class="heading">Games Recorded</h3>
                <h3 class="title">{{totalGames}}</h3>
              </div>
            </div>
            <div class="level-item has-text-centered">
              <div>
                <h3 class="heading">Wins</h3>
                <h3 class="title">{{wins}}</h3>
              </div>
            </div>
            <div class="level-item has-text-centered">
              <div>
                <h3 class="heading">Kills</h3>
                <h3 class="title">{{championKills}}</h3>
              </div>
            </div>

              </div>
            </div>
          </div>
      </div>
  </div>
</div>

 

<div class="columns is-multiline">
  <div class="column">
    <div class="card">
      <div class="card-content">
        <div class="content">

        <div class ="has-text-right">
          <canvas id="AvgMinions" width="450" height="550"></canvas>
        </div>
        </div>
      </div>
    </div>
  </div>
  <div class="column">
    <div class="card">
      <div class="card-content">
        <div class="content">
          <canvas id="TotalGoldAvg" width="450" height="550"></canvas>
        </div>
      </div>
    </div>
  </div>
    <div class="column">
      <div class="card">
        <div class="card-content">
          <div class="content">
            <canvas id="DmgDealtAvg" width="450" height="550"></canvas>
        </div>
      </div>
    </div>
  </div>
  <div class="column">
    <div class="card">
      <div class="card-content">
        <div class="content">
          <canvas id="DmgTakenAvg" width="450" height="550"></canvas> 
      </div>
    </div>
  </div>
</div>

<script>
function openTab(evt, tabName) {
  var i, x, tablinks;
  x = document.getElementsByClassName("content-tab");
  for (i = 0; i < x.length; i++) {
      x[i].style.display = "none";
  }
  tablinks = document.getElementsByClassName("tab");
  for (i = 0; i < x.length; i++) {
      tablinks[i].className = tablinks[i].className.replace(" is-active", "");
  }
  document.getElementById(tabName).style.display = "block";
  evt.currentTarget.className += " is-active";
}

///DMG DEALT
var yValues = ["{{DmgDealtAvg[0]['AVG(`MatchStatsTbl`.`DmgDealt`)']}}","{{DmgDealtAvg[1]['AVG(`MatchStatsTbl`.`DmgDealt`)']}}"
            ,"{{DmgDealtAvg[2]['AVG(`MatchStatsTbl`.`DmgDealt`)']}}","{{DmgDealtAvg[3]['AVG(`MatchStatsTbl`.`DmgDealt`)']}}",
              "{{DmgDealtAvg[4]['AVG(`MatchStatsTbl`.`DmgDealt`)']}}"];
              
var xValues = ["{{DmgDealtAvg[0]['Rank']}}","{{DmgDealtAvg[1]['Rank']}}"
            ,"{{DmgDealtAvg[2]['Rank']}}","{{DmgDealtAvg[3]['Rank']}}",
              "{{DmgDealtAvg[4]['Rank']}}",];
var barColors = ["Grey", "green","blue","orange","brown","red"];


new Chart("DmgDealtAvg", {
  type: "bar",
  data: {
    labels: xValues,
    datasets: [{
      backgroundColor: barColors,
      data: yValues
    }]
  },
  options: {
    responsive: false,
    legend: {display: false},
    title: {
      display: true,
      text: "DmgDealtAvg (Per Rank)"
    }
  }
});

///DMG TAKEN

var yValues = ["{{DmgTakenAvg[0]['AVG(`MatchStatsTbl`.`DmgTaken`)']}}","{{DmgTakenAvg[1]['AVG(`MatchStatsTbl`.`DmgTaken`)']}}"
            ,"{{DmgTakenAvg[2]['AVG(`MatchStatsTbl`.`DmgTaken`)']}}","{{DmgTakenAvg[3]['AVG(`MatchStatsTbl`.`DmgTaken`)']}}",
              "{{DmgTakenAvg[4]['AVG(`MatchStatsTbl`.`DmgTaken`)']}}"];
              
var xValues = ["{{DmgTakenAvg[0]['Rank']}}","{{DmgTakenAvg[1]['Rank']}}"
            ,"{{DmgTakenAvg[2]['Rank']}}","{{DmgTakenAvg[3]['Rank']}}",
              "{{DmgTakenAvg[4]['Rank']}}"];
var barColors = ["Grey", "green","blue","orange","brown","red"];

new Chart("DmgTakenAvg", {
  type: "bar",
  data: {
    labels: xValues,
    datasets: [{
      backgroundColor: barColors,
      data: yValues
    }]
  },
  options: {
    responsive: false,
    legend: {display: false},
    title: {
      display: true,
      text: "DmgTakenAvg (Per Rank)"
    }
  }
});

///AVG MINIONS

var yValues = ["{{AvgMinions[0]['AVG(`MatchStatsTbl`.`MinionsKilled`)']}}","{{AvgMinions[1]['AVG(`MatchStatsTbl`.`MinionsKilled`)']}}"
            ,"{{AvgMinions[2]['AVG(`MatchStatsTbl`.`MinionsKilled`)']}}","{{AvgMinions[3]['AVG(`MatchStatsTbl`.`MinionsKilled`)']}}",
              "{{AvgMinions[4]['AVG(`MatchStatsTbl`.`MinionsKilled`)']}}"];
              
var xValues = ["{{AvgMinions[0]['Rank']}}","{{AvgMinions[1]['Rank']}}"
            ,"{{AvgMinions[2]['Rank']}}","{{AvgMinions[3]['Rank']}}",
              "{{AvgMinions[4]['Rank']}}"];
var barColors = ["Grey", "green","blue","orange","brown","red"];

new Chart("AvgMinions", {
  type: "bar",
  data: {
    labels: xValues,
    datasets: [{
      backgroundColor: barColors,
      data: yValues
    }]
  },
  options: {
    responsive: false,
    legend: {display: false},
    title: {
      display: true,
      text: "AvgMinions (Per Rank)"
    }
  }
});

// AVG GOLD
var yValues = ["{{AvgGold[0]['AVG(`MatchStatsTbl`.`TotalGold`)']}}","{{AvgGold[1]['AVG(`MatchStatsTbl`.`TotalGold`)']}}"
            ,"{{AvgGold[2]['AVG(`MatchStatsTbl`.`TotalGold`)']}}","{{AvgGold[3]['AVG(`MatchStatsTbl`.`TotalGold`)']}}",
              "{{AvgGold[4]['AVG(`MatchStatsTbl`.`TotalGold`)']}}"];
              
var xValues = ["{{AvgGold[0]['Rank']}}","{{AvgGold[1]['Rank']}}"
            ,"{{AvgGold[2]['Rank']}}","{{AvgGold[3]['Rank']}}",
              "{{AvgGold[4]['Rank']}}",];
var barColors = ["Grey", "green","blue","orange","brown","red"];


new Chart("TotalGoldAvg", {
  type: "bar",
  data: {
    labels: xValues,
    datasets: [{
      backgroundColor: barColors,
      data: yValues
    }]
  },
  options: {
    responsive: false,
    legend: {display: false},
    title: {
      display: true,
      text: "TotalGoldAvg (Per Rank)"
    }
  }
});
 
</script>

{% endblock %}


