{% extends 'base.html'%}

{% block content %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.5.0/Chart.min.js"></script>
	<style>
		.card {
			height: 100%;
			margin: auto;
		}.columns.is-vcentered {
			-webkit-box-align: center;
			-ms-flex-align: center;
			align-items: center;
		}
		.column.is.half-inline{
			flex-wrap: wrap;
			align-content: center; /* used this for multiple child */
			align-items: center; /* if an only child */
			display: inline
		}
		ul {
		list-style-type: none;
		}

		[type=radio] { 
		position: absolute;
		opacity: 0;
		width: 0;
		height: 0;
		}

		/* IMAGE STYLES */
		[type=radio] + img {
		cursor: pointer;
		}

		/* CHECKED STYLES */
		[type=radio]:checked + img {
			opacity: 1;
		}

		[type=radio]:not(:checked) + img {
			 opacity: 0.6;
		}
		
		input[type=radio] {
			border: 0px;
			height: 2em;

		}

		.card-L {
			background-color:red;
		}
		.card-W {
			background-color:green;
		}

	</style>


<script>
	function openTab(evt, tabName) {
		var i, x, tablinks;
		x = document.getElementsByClassName("content-tab");
		for (i = 0; i < x.length; i++) {
			x[i].style.display = "none";
		}
		tablinks = document.getElementsByClassName("tab");
		for (i = 0; i < x.length; i++) {
			tablinks[i].className = tablinks[i].className.replace(" is-active", "");
		}
		document.getElementById(tabName).style.display = "block";
		evt.currentTarget.className += " is-active";
	}

</script>
</head>
<body>
	<div class="columns is-multiline">
		<div class="column is-three-fifths">
			<div class="card">
				<div class="card-content">
				  <div class="content">
					<figure class="image is-128x128">
						
						<img class="is-rounded" src="{{SummonerInfo.profileIconId}}">
					</figure>
					<div class ="has-text-right">
						<p>{{SummonerInfo.summonerLevel}}</p>
						<p>{{SummonerInfo.name}}</p>
						<button onclick = "inGame()" class = "button is-info"> In-Game</button>
						
					</div>
				  </div>
				</div>
			</div>
		</div>
		<div class="column">
			<div class="card">
				<div class="card-content">
				  <div class="content">
					<figure class="image is-128x128">
						<p>Solo Ranked</p>		
						<img class="is-rounded" src="{{soloRanked.ImageUrl}}">
					</figure>
					<div class ="has-text-right">
						<p>Ranked Points :{{soloRanked.leaguePoints}}</p>
						<p>Ranked Played: {{soloRanked.wins + soloRanked.losses}}</p>	
						<p>Ranked Wins: {{soloRanked.wins}}</p>	
						<p>Ranked Loses: {{soloRanked.losses}}</p>	
						<p>{{soloRanked.WinRate}}</p>
					</div>
				  </div>
				</div>
			</div>
		</div>
		<div class="column">
			<div class="card">
				<div class="card-content">
				  <div class="content">
					<figure class="image is-128x128">
						<p>Flex 5v5</p>		
						<img class="is-rounded" src="{{flexRanked.ImageUrl}}">
					</figure>
					<div class ="has-text-right">
						<p>Ranked Points :{{flexRanked.leaguePoints}}</p>
						<p>Ranked Played: {{flexRanked.wins + flexRanked.losses}}</p>	
						<p>Ranked Wins: {{flexRanked.wins}}</p>	
						<p>Ranked Loses: {{flexRanked.losses}}</p>	
						<p>{{flexRanked.WinRate}}</p>
					</div>
				  </div>
				</div>
			</div>
		</div>
	</div>
	

<div class = "columns is-multiline">
	<div class = "column is-two-fifths">
		{% for user in masteryScore %}
			<div class="column">
				<div class="card">
					<div class="card-content">
						<div class ="column is-narrow">
							<div class="content">
								<div class="column is-half-inline">
									<div class = "is-multiline">
										<img height = 64 width = 64 class="is-rounded" src="{{user.link}}">
										<img height = 48 width = 48 src = "https://raw.communitydragon.org/latest/plugins/rcp-be-lol-game-data/global/default/v1/hextech-images/chest.png">
									</div>
										<img height = 64 width = 64 class="is-rounded" src='https://raw.communitydragon.org/latest/game/assets/ux/mastery/mastery_icon_{{user.championLevel}}.png'>
		
									<h1>{{user.name}}</h1>
									<p>Champion Points : {{user.championPoints}}</p>
									

									
									<!---https://raw.communitydragon.org/latest/plugins/rcp-be-lol-game-data/global/default/v1/hextech-images/chest.png-->
									<!--https://raw.communitydragon.org/latest/game/assets/ux/mastery/mastery_icon_4.png-->
									<!--https://raw.communitydragon.org/latest/plugins/rcp-fe-lol-shared-components/global/default/-->
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
	{% endfor %}
	</div>
	
		
	<div class = "column">
		<section class="hero is-success">
			<div class="hero-body">
			  <div class="container has-text-centered">
				  <h1 class="title">
					Match Stats 
				  </h1>
				</div>
			</div> 
			  
			<div class="hero-foot">
			<nav class="tabs is-boxed is-fullwidth is-large">
					<div class="container">
					  <ul>
						<li class="tab is-active" onclick="openTab(event,'GraphsPanel')"><a> Graphs </a></li>
						<li class="tab" onclick="openTab(event,'MatchHistory')"><a >Match History</a></li>
						<li class="tab" onclick="openTab(event,'Summary')"><a >Summary</a></li>
					  </ul>
					</div>
				  </nav>
			  </div>
			</section>
			
			<div class="container section">
				<div id="MatchHistory" class="content-tab" style="display:none">
					{% for match in fullMatch %}

						<div class = "column">
							<div class = "{{'card-W' if match['win'] == True else 'card-L'}}">
								<div class="card-content">
									<div class ="column is-narrow">
										<div class="content">
											<div class="columns is-multiline">
												<figure class="image is-64x64">
													<img class="is-rounded" src="https://ddragon.leagueoflegends.com/cdn/12.6.1/img/champion/{{match.championName}}.png">
												</figure>
											
											
													<div>  
														<h2>{{match.kills}} / {{match.deaths}} / {{match.assists}}</h2>
														<img width="20" height="20" src = "static/icon_gold.png" ></img> {{ data[loop.index0]['goldEarned'] }} <br> 

														<img width="20" height="20" src = "static/icon_minions.png"></img> {{ data[loop.index0]['cs'] }}
													</div>
													<div>
														<div>
														<ul><img width="20" height="20" src = "https://ddragon.leagueoflegends.com/cdn/12.6.1/img/champion/{{participants[loop.index0]['champion'][0]}}.png"></img> {{participants[loop.index0]['name'][0]}}</ul>
														<ul><img width="20" height="20" src = "https://ddragon.leagueoflegends.com/cdn/12.6.1/img/champion/{{participants[loop.index0]['champion'][1]}}.png"></img> {{participants[loop.index0]['name'][1]}}</ul>
														<ul><img width="20" height="20" src = "https://ddragon.leagueoflegends.com/cdn/12.6.1/img/champion/{{participants[loop.index0]['champion'][2]}}.png"></img> {{participants[loop.index0]['name'][2]}}</ul>
														<ul><img width="20" height="20" src = "https://ddragon.leagueoflegends.com/cdn/12.6.1/img/champion/{{participants[loop.index0]['champion'][3]}}.png"></img> {{participants[loop.index0]['name'][3]}}</ul>
														<ul><img width="20" height="20" src = "https://ddragon.leagueoflegends.com/cdn/12.6.1/img/champion/{{participants[loop.index0]['champion'][4]}}.png"></img> {{participants[loop.index0]['name'][4]}}</ul>
														</div>
													</div>

													<div>
														<div>
														<ul><img width="20" height="20" src = "https://ddragon.leagueoflegends.com/cdn/12.6.1/img/champion/{{participants[loop.index0]['champion'][5]}}.png"></img> {{participants[loop.index0]['name'][5]}}</ul>
														<ul><img width="20" height="20" src = "https://ddragon.leagueoflegends.com/cdn/12.6.1/img/champion/{{participants[loop.index0]['champion'][6]}}.png"></img> {{participants[loop.index0]['name'][6]}}</ul>
														<ul><img width="20" height="20" src = "https://ddragon.leagueoflegends.com/cdn/12.6.1/img/champion/{{participants[loop.index0]['champion'][7]}}.png"></img> {{participants[loop.index0]['name'][7]}}</ul>
														<ul><img width="20" height="20" src = "https://ddragon.leagueoflegends.com/cdn/12.6.1/img/champion/{{participants[loop.index0]['champion'][8]}}.png"></img> {{participants[loop.index0]['name'][8]}}</ul>
														<ul><img width="20" height="20" src = "https://ddragon.leagueoflegends.com/cdn/12.6.1/img/champion/{{participants[loop.index0]['champion'][9]}}.png"></img> {{participants[loop.index0]['name'][9]}}</ul>
														</div>
													</div>
													<div>
															<img width = "40" height="40" src = "{{data[loop.index0]['ItemImages'][0]['ItemLink']}}"></img>
															<img width = "40" height="40" src = "{{data[loop.index0]['ItemImages'][1]['ItemLink']}}"></img>
															<img width = "40" height="40" src = "{{data[loop.index0]['ItemImages'][2]['ItemLink']}}"></img>
															<img width = "40" height="40" src = "{{data[loop.index0]['ItemImages'][3]['ItemLink']}}"></img>
															<img width = "40" height="40" src = "{{data[loop.index0]['ItemImages'][4]['ItemLink']}}"></img>
															<img width = "40" height="40" src = "{{data[loop.index0]['ItemImages'][5]['ItemLink']}}"></img>
													</div>
											</div>

											<img src="{{match.summoner1Id}}">
											<img src="{{match.summoner2Id}}">
											<img width = "64" height = "64" src="{{match.role}}">
											
										</div>
									</div>
								</div>
							</div>
						</div>
					{% endfor %}
				</div>
				<div id="GraphsPanel" class="content-tab" >
					<div class=" is-multiline">
					<label>
						<input type="radio" name="test" value="0" checked>
						<img src="https://raw.communitydragon.org/latest/plugins/rcp-fe-lol-shared-components/global/default/iron.png" height = 60 width = 60 alt="Option 1">
					  </label>
					  <label>
						<input type="radio" name="test" value="1">
						<img src="https://raw.communitydragon.org/latest/plugins/rcp-fe-lol-shared-components/global/default/bronze.png" height = 60 width = 60 alt="Option 2">
					  </label>
					  <label>
						<input type="radio" name="test" value="2">
						<img src="https://raw.communitydragon.org/latest/plugins/rcp-fe-lol-shared-components/global/default/silver.png"height = 60 width = 60 alt="Option 1">
					  </label>
					  <label>
						<input type="radio" name="test" value="3">
						<img src="https://raw.communitydragon.org/latest/plugins/rcp-fe-lol-shared-components/global/default/gold.png"height = 60 width = 60 alt="Option 2">
					  </label>
					  <label>
						<input type="radio" name="test" value="4">
						<img src="https://raw.communitydragon.org/latest/plugins/rcp-fe-lol-shared-components/global/default/platinum.png"height = 60 width = 60 alt="Option 1">
					  </label>
					  <label>
						<input type="radio" name="test" value="5">
						<img src="https://raw.communitydragon.org/latest/plugins/rcp-fe-lol-shared-components/global/default/diamond.png" height = 60 width = 60  alt="Option 2">
					  </label>
					  <label>
						<input type="radio" name="test" value="6">
						<img src="https://raw.communitydragon.org/latest/plugins/rcp-fe-lol-shared-components/global/default/master.png" height = 60 width = 60 alt="Option 2">
					  </label>
					  <label>
						<input type="radio" name="test" value="7">
						<img src="https://raw.communitydragon.org/latest/plugins/rcp-fe-lol-shared-components/global/default/grandmaster.png" height = 60 width = 60 alt="Option 2">
					  </label>
					  <label>
						<input type="radio" name="test" value="8">
						<img src="https://raw.communitydragon.org/latest/plugins/rcp-fe-lol-shared-components/global/default/challenger.png" height = 60 width = 60 alt="Option 2">
					  </label>
					</div>
						<div class = "column">
							<div class=" is-multiline">
								<div class = collumn>
									<canvas id="AvgDamageTakenChart" width="350" height="450"></canvas>
									<canvas id="AvgDamageDealtChart" width="350" height="450"></canvas>
									<canvas id="AvgCreepScoreChart" width="350" height="450"></canvas>
									<canvas id="AvgGoldPerMinChart" width="350" height="450"></canvas>
								</div>
							</div>
						</div>
					</div>
				</div>


				<div id="Summary" class="content-tab" style="display:none">
					<table class="table">
						<thead>
						  <tr>
							<th><abbr title="Champion">Champion</abbr></th>
							<th><abbr title="GameDuration">GD</abbr></th>
							<th><abbr title="Kills">K</abbr></th>
							<th><abbr title="Deaths">D</abbr></th>
							<th><abbr title="Assists">A</abbr></th>
							<th><abbr title="Won">W</abbr></th>
						  </tr>
						</thead>
				
						{% for matches in data %}
						<tr>
							<td>{{ matches.champion }}</td>
							<td>{{ matches.GameDuration }}</td>
							<td>{{ matches.kills }}</td>
							<td>{{ matches.deaths }}</td>
							<td>{{ matches.assists }}</td>
							<td>{{ matches.win }}</td>
						</tr>
						{% endfor %}

						<canvas id="AvgMinionKillsRanked" width="350" height="450"></canvas>
						<canvas id="AvgDTRanked" width="350" height="450"></canvas>
						<canvas id="AvgGoldRanked" width="350" height="450"></canvas>
						<canvas id="AvgDDRanked" width="350" height="450"></canvas>
				</tbody>
			</table>
		</div>
	</div>
				</div>
			</div>



<script>
	function inGame() {
		var summonerId= '{{ SummonerInfo.id }}';
		var Region = '{{ Region }}';

		var url = window.location.href.split('?')[0];
		url = url + "/in-game" + "?summoner=" +  summonerId  + "&region=" + Region;
		window.location.href = url
	}


	var yValues = ["{{avgDamageTakenStatsSummoner['AVG(`MatchStatsTbl`.`DmgTaken`)']}}", "{{avgDamageTaken[0]['AVG(`MatchStatsTbl`.`DmgTaken`)']}}"
			,"{{avgDamageTaken[1]['AVG(`MatchStatsTbl`.`DmgTaken`)']}}"
            ,"{{avgDamageTaken[2]['AVG(`MatchStatsTbl`.`DmgTaken`)']}}","{{avgDamageTaken[3]['AVG(`MatchStatsTbl`.`DmgTaken`)']}}",
              "{{avgDamageTaken[4]['AVG(`MatchStatsTbl`.`DmgTaken`)']}}", "{{avgDamageTaken[5]['AVG(`MatchStatsTbl`.`DmgTaken`)']}}",
			  "{{avgDamageTaken[6]['AVG(`MatchStatsTbl`.`DmgTaken`)']}}","{{avgDamageTaken[7]['AVG(`MatchStatsTbl`.`DmgTaken`)']}}",
			  "{{avgDamageTaken[8]['AVG(`MatchStatsTbl`.`DmgTaken`)']}}"];
              
	var xValues = ["You","Unranked","Iron","Bronze","Silver" ,"Gold","Platinum","Diamond","Master","GrandMaster","Challenger"];
	var barColors = ["Green", "Grey","Grey","Brown","Grey","red","Blue","Purple","Yellow","Purple","Purple"];
		

	new Chart("AvgDTRanked", {
	type: "bar",
	data: {
		labels: xValues,
		datasets: [{
		backgroundColor: barColors,
		data: yValues
		}]
	},
	options: {
		responsive: false,
		legend: {display: false},
		title: {
		display: true,
		text: "Avg Damage Taken (Per Rank)"
		}
	}
	});


	var yValues = ["{{avgMinionsStatsSummoner[0]['AVG(`MatchStatsTbl`.`MinionsKilled`)']}}", "{{AvgMinions[0]['AVG(`MatchStatsTbl`.`MinionsKilled`)']}}",
				"{{AvgMinions[1]['AVG(`MatchStatsTbl`.`MinionsKilled`)']}}","{{AvgMinions[2]['AVG(`MatchStatsTbl`.`MinionsKilled`)']}}",
				"{{AvgMinions[3]['AVG(`MatchStatsTbl`.`MinionsKilled`)']}}","{{AvgMinions[4]['AVG(`MatchStatsTbl`.`MinionsKilled`)']}}",
				"{{AvgMinions[5]['AVG(`MatchStatsTbl`.`MinionsKilled`)']}}","{{AvgMinions[6]['AVG(`MatchStatsTbl`.`MinionsKilled`)']}}",
				"{{AvgMinions[7]['AVG(`MatchStatsTbl`.`MinionsKilled`)']}}","{{AvgMinions[8]['AVG(`MatchStatsTbl`.`MinionsKilled`)']}}"];
              

	new Chart("AvgMinionKillsRanked", {
	type: "bar",
	data: {
		labels: xValues,
		datasets: [{
		backgroundColor: barColors,
		data: yValues
		}]
	},
	options: {
		responsive: false,
		legend: {display: false},
		title: {
		display: true,
		text: "AvgMinions (Per Rank)"
		}
	}
	});


	var yValues = ["{{avgGoldEarntSummoner[0]['AVG(`MatchStatsTbl`.`TotalGold`)']}}", "{{AvgGold[0]['AVG(`MatchStatsTbl`.`TotalGold`)']}}","{{AvgGold[1]['AVG(`MatchStatsTbl`.`TotalGold`)']}}"
            ,"{{AvgGold[2]['AVG(`MatchStatsTbl`.`TotalGold`)']}}","{{AvgGold[3]['AVG(`MatchStatsTbl`.`TotalGold`)']}}",
              "{{AvgGold[4]['AVG(`MatchStatsTbl`.`TotalGold`)']}}"  ,"{{AvgGold[5]['AVG(`MatchStatsTbl`.`TotalGold`)']}}",
			  "{{AvgGold[6]['AVG(`MatchStatsTbl`.`TotalGold`)']}}","{{AvgGold[7]['AVG(`MatchStatsTbl`.`TotalGold`)']}}",
			  "{{AvgGold[8]['AVG(`MatchStatsTbl`.`TotalGold`)']}}"];
              

	new Chart("AvgGoldRanked", {
	type: "bar",
	data: {
		labels: xValues,
		datasets: [{
		backgroundColor: barColors,
		data: yValues
		}]
	},
	options: {
		responsive: false,
		legend: {display: false},
		title: {
		display: true,
		text: "Avg Gold Earned (Per Rank)"
		}
	}
	});

	var yValues = ["{{avgDamageDealtStatsSummoner[0]['AVG(`MatchStatsTbl`.`DmgDealt`)']}}", "{{DmgDealtAvg[0]['AVG(`MatchStatsTbl`.`DmgDealt`)']}}",
			"{{DmgDealtAvg[1]['AVG(`MatchStatsTbl`.`DmgDealt`)']}}","{{DmgDealtAvg[2]['AVG(`MatchStatsTbl`.`DmgDealt`)']}}",
			"{{DmgDealtAvg[3]['AVG(`MatchStatsTbl`.`DmgDealt`)']}}","{{DmgDealtAvg[4]['AVG(`MatchStatsTbl`.`DmgDealt`)']}}",
			"{{DmgDealtAvg[5]['AVG(`MatchStatsTbl`.`DmgDealt`)']}}","{{DmgDealtAvg[6]['AVG(`MatchStatsTbl`.`DmgDealt`)']}}",
			"{{DmgDealtAvg[7]['AVG(`MatchStatsTbl`.`DmgDealt`)']}}","{{DmgDealtAvg[8]['AVG(`MatchStatsTbl`.`DmgDealt`)']}}"];
              

	new Chart("AvgDDRanked", {
	type: "bar",
	data: {
		labels: xValues,
		datasets: [{
		backgroundColor: barColors,
		data: yValues
		}]
	},
	options: {
		responsive: false,
		legend: {display: false},
		title: {
		display: true,
		text: "Avg Damage Dealt (Per Rank)"
		}
	}
	});






	</script>
</body>
{% endblock %}