{% extends 'base.html'%}

{%block content %}

<div class="columns is-multiline"> 
  <div class="column is-one-fifth">
    <div class="card">
      <div class="card-content">
          <div class="content">
                <input name="summoner" placeholder="Summoner Name" class="input is-info">
                <img src = "{{ RoleImages[0]['RoleLink']  }}"> 
            </div>
          </div>
        </div>
      </div>
    <div class="column is-one-fifth">
      <div class="card">
        <div class="card-content">
            <div class="content">
                  <input name="summoner" placeholder="Summoner Name" class="input is-info">
                  <img src = "{{ RoleImages[1]['RoleLink']  }}"> 
              </div>
            </div>
          </div>
        </div>
      <div class="column is-one-fifth">
        <div class="card">
          <div class="card-content">
              <div class="content">
                    <input name="summoner" placeholder="Summoner Name" class="input is-info">
                    <img src = "{{ RoleImages[2]['RoleLink']  }}"> 
                </div>
              </div>
            </div>
          </div>
        <div class="column is-one-fifth">
          <div class="card">
            <div class="card-content">
                <div class="content">
                      <input name="summoner" placeholder="Summoner Name" class="input is-info">
                      <img src = "{{ RoleImages[3]['RoleLink']  }}"> 
                  </div>
                </div>
              </div>
            </div>
            <div class="column is-one-fifth">
              <div class="card">
                <div class="card-content">
                    <div class="content">
                          <input name="summoner" placeholder="Summoner Name" class="input is-info">
                          <img src = "{{ RoleImages[4]['RoleLink']  }}"> 
                      </div>
                    </div>
                  </div>
                </div>
          </div>
          
          
    </div>
    <div class="columns is-multiline"> 
      <div class="column is-one-fifth">
        <div class="card">
          <div class="card-content">
              <div class="content">
                    <input name="summoner" placeholder="Summoner Name" class="input is-info">
                    <img src = "{{ RoleImages[0]['RoleLink']  }}"> 
                </div>
              </div>
            </div>
          </div>
        <div class="column is-one-fifth">
          <div class="card">
            <div class="card-content">
                <div class="content">
                      <input name="summoner" placeholder="Summoner Name" class="input is-info">
                      <img src = "{{ RoleImages[1]['RoleLink']  }}"> 
                  </div>
                </div>
              </div>
            </div>
          <div class="column is-one-fifth">
            <div class="card">
              <div class="card-content">
                  <div class="content">
                        <input name="summoner" placeholder="Summoner Name" class="input is-info">
                        <img src = "{{ RoleImages[2]['RoleLink']  }}"> 
                    </div>
                  </div>
                </div>
              </div>
            <div class="column is-one-fifth">
              <div class="card">
                <div class="card-content">
                    <div class="content">
                          <input name="summoner" placeholder="Summoner Name" class="input is-info">
                          <img src = "{{ RoleImages[3]['RoleLink']  }}"> 
                      </div>
                    </div>
                  </div>
                </div>
                <div class="column is-one-fifth">
                  <div class="card">
                    <div class="card-content">
                        <div class="content">
                              <input name="summoner" placeholder="Summoner Name" class="input is-info">
                              <img src = "{{ RoleImages[4]['RoleLink']  }}"> 
                          </div>
                        </div>
                      </div>
                    </div>
              </div>




<script>


function postItem(){
  alert("posted")
  fetch('https://5000-nathansmall-dissertatio-uh0aul19608.ws-eu90.gitpod.io/teamData', {
    method: 'POST',
    headers: {
        'Accept': 'application/json',
        'Content-Type': 'application/json'
      },
      body: JSON.stringify({ 
        "B1Summ": "Ehhhh",
        "B2Summ": "Lil Nachty",
        "B3Summ": "Ehhhh",
        "B4Summ": "Mealsz",
        "B5Summ": "itwoznotmee",
        "R1Summ": "Astrolagus ",
        "R2Summ": "Joepbell",
        "R3Summ": "Bigfootman",
        "R4Summ": "Somtingwongwitu",
        "R5Summ": "LegitSnip3ZzXx ",
        "B1": 44,
        "B2": 876,
        "B3": 136,
        "B4": 221,
        "B5": 74,
        "R1": 122,
        "R2": 20,
        "R3": 99,
        "R4": 202,
        "R5": 412,
        'Region':"EUW1"

      
      })
  })
    .then(response => response.json())
    .then(response => console.log(JSON.stringify(response)))
  }
  

</script>

{% endblock %}