{% extends 'base.html'%}

{%block content %}

<div class="column half">
  <div class="card">
      <div class="card-content">
        <div class="content">
          <h1> Match Predictor Tool</h1>
          <p> Once Data has been submited please wait a couple of mins for a response. Please do not spam the run match button.</p>
          <p> Submit summoner name in next to the role image of the role you want to assign the summoner and use the drop down to select a champion</p>
        </div>
      </div>
  </div>
</div>


<form method="dialog" onsubmit='return summonerAvg(blueSumm1Champ,BlueSumm1,blueSumm2Champ,BlueSumm2,blueSumm3Champ,BlueSumm3,blueSumm4Champ,BlueSumm4,blueSumm5Champ,BlueSumm5,redSumm1Champ,RedSumm1,redSumm2Champ,RedSumm2,redSumm3Champ,RedSumm3,redSumm4Champ,RedSumm4,redSumm5Champ,RedSumm5); return false;'>
  <div class="columns is-multiline"> 
  <div class="column is-one-fifth">
    <div class="card has-background-info">
      <div class="card-content">
          <div class="content">
                <input name="BlueSumm1" placeholder="Summoner Name" class="input is-info">
                <img src = "{{ RoleImages[0]['RoleLink']  }}"> 

                <div class="select is-info">
                  <select name= "blueSumm1Champ" id = "blueSumm1Champ" >
                    {% for champ in Champions %}
                    {% set output = "https://ddragon.leagueoflegends.com/cdn/13.4.1/img/champion/" + champ['ChampionName'] + ".png" %}
                      <option value = "{{ champ['ChampionId'] }}" >{{ champ['ChampionName'] }}</option>
                    {% endfor %}
                  </select>
                </div>

            </div>
          </div>
        </div>
      </div>
    <div class="column is-one-fifth">
      <div class="card has-background-info">
        <div class="card-content">
            <div class="content">
                  <input name="BlueSumm2" placeholder="Summoner Name" class="input is-info">
                  <img src = "{{ RoleImages[1]['RoleLink']  }}"> 

                  <div class="select is-info">
                    <select name= "blueSumm2Champ" >
                      {% for champ in Champions %}
                      {% set output = "https://ddragon.leagueoflegends.com/cdn/13.4.1/img/champion/" + champ['ChampionName'] + ".png" %}
                        <option value = "{{ champ['ChampionId'] }}" >{{ champ['ChampionName'] }}</option>
                      {% endfor %}
                    </select>
                  </div>
              </div>
            </div>
          </div>
        </div>
      <div class="column is-one-fifth">
        <div class="card has-background-info">
          <div class="card-content">
              <div class="content">
                    <input name="BlueSumm3" placeholder="Summoner Name" class="input is-info">
                    <img src = "{{ RoleImages[2]['RoleLink']  }}"> 

                    <div class="select is-info">
                      <select name= "blueSumm3Champ" >
                        {% for champ in Champions %}
                        {% set output = "https://ddragon.leagueoflegends.com/cdn/13.4.1/img/champion/" + champ['ChampionName'] + ".png" %}
                          <option value = "{{ champ['ChampionId'] }}" >{{ champ['ChampionName'] }}</option>
                        {% endfor %}
                      </select>
                    </div>
                </div>
              </div>
            </div>
          </div>
        <div class="column is-one-fifth">
          <div class="card has-background-info">
            <div class="card-content">
                <div class="content">
                      <input name="BlueSumm4" placeholder="Summoner Name" class="input is-info">
                      <img src = "{{ RoleImages[3]['RoleLink']  }}"> 

                      <div class="select is-info">
                        <select name= "blueSumm4Champ" >
                          {% for champ in Champions %}
                          {% set output = "https://ddragon.leagueoflegends.com/cdn/13.4.1/img/champion/" + champ['ChampionName'] + ".png" %}
                            <option value = "{{ champ['ChampionId'] }}" >{{ champ['ChampionName'] }}</option>
                          {% endfor %}
                        </select>
                      </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="column is-one-fifth">
              <div class="card has-background-info">
                <div class="card-content">
                    <div class="content">
                          <input name="BlueSumm5" placeholder="Summoner Name" class="input is-info">
                          <img src = "{{ RoleImages[4]['RoleLink']  }}"> 

                          <div class="select is-info">
                            <select name= "blueSumm5Champ" >
                              {% for champ in Champions %}
                              {% set output = "https://ddragon.leagueoflegends.com/cdn/13.4.1/img/champion/" + champ['ChampionName'] + ".png" %}
                                <option value = "{{ champ['ChampionId'] }}" >{{ champ['ChampionName'] }}</option>
                              {% endfor %}
                            </select>
                          </div>
                      </div>
                    </div>
                  </div>
                </div>
          </div>
          
          
    </div>
    <div class="columns is-multiline"> 
      <div class="column is-one-fifth">
        <div class="card has-background-danger">
          <div class="card-content">
              <div class="content">
                    <input name="RedSumm1" placeholder="Summoner Name" class="input is-info">
                    <img src = "{{ RoleImages[0]['RoleLink']  }}"> 

                    <div class="select is-info">
                      <select name= "redSumm1Champ" >
                        {% for champ in Champions %}
                        {% set output = "https://ddragon.leagueoflegends.com/cdn/13.4.1/img/champion/" + champ['ChampionName'] + ".png" %}
                          <option value = "{{ champ['ChampionId'] }}" >{{ champ['ChampionName'] }}</option>
                        {% endfor %}
                      </select>
                    </div>
                </div>
              </div>
            </div>
          </div>
        <div class="column is-one-fifth">
          <div class="card has-background-danger">
            <div class="card-content">
                <div class="content">
                      <input name="RedSumm2" placeholder="Summoner Name" class="input is-info">
                      <img src = "{{ RoleImages[1]['RoleLink']  }}"> 
                      <div class="select is-info">
                        <select name= "redSumm2Champ" >
                          {% for champ in Champions %}
                          {% set output = "https://ddragon.leagueoflegends.com/cdn/13.4.1/img/champion/" + champ['ChampionName'] + ".png" %}
                            <option value = "{{ champ['ChampionId'] }}" >{{ champ['ChampionName'] }}</option>
                          {% endfor %}
                        </select>
                      </div>
                      
                  </div>
                </div>
              </div>
            </div>
          <div class="column is-one-fifth">
            <div class="card has-background-danger">
              <div class="card-content">
                  <div class="content">
                        <input name="RedSumm3" placeholder="Summoner Name" class="input is-info">
                        <img src = "{{ RoleImages[2]['RoleLink']  }}"> 
                        <div class="select is-info">
                          <select name= "redSumm3Champ" >
                            {% for champ in Champions %}
                            {% set output = "https://ddragon.leagueoflegends.com/cdn/13.4.1/img/champion/" + champ['ChampionName'] + ".png" %}
                              <option value = "{{ champ['ChampionId'] }}" >{{ champ['ChampionName'] }}</option>
                            {% endfor %}
                          </select>
                        </div>
                    </div>
                  </div>
                </div>
              </div>
            <div class="column is-one-fifth">
              <div class="card has-background-danger">
                <div class="card-content">
                    <div class="content">
                          <input name="RedSumm4" placeholder="Summoner Name" class="input is-info">
                          <img src = "{{ RoleImages[3]['RoleLink']  }}"> 
                          <div class="select is-info">
                            <select name= "redSumm4Champ" >
                              {% for champ in Champions %}
                              {% set output = "https://ddragon.leagueoflegends.com/cdn/13.4.1/img/champion/" + champ['ChampionName'] + ".png" %}
                                <option value = "{{ champ['ChampionId'] }}" >{{ champ['ChampionName'] }}</option>
                              {% endfor %}
                            </select>
                          </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="column is-one-fifth">
                  <div class="card has-background-danger">
                    <div class="card-content">
                        <div class="content">
                              <input name="RedSumm5" placeholder="Summoner Name" class="input is-info">
                              <img src = "{{ RoleImages[4]['RoleLink']  }}"> 

                              <div class="select is-info">
                                <select name= "redSumm5Champ" >
                                  {% for champ in Champions %}
                                  {% set output = "https://ddragon.leagueoflegends.com/cdn/13.4.1/img/champion/" + champ['ChampionName'] + ".png" %}
                                    <option value = "{{ champ['ChampionId'] }}" >{{ champ['ChampionName'] }}</option>
                                  {% endfor %}
                                </select>
                              </div>
                          </div>
                        </div>
                      </div>
                    </div>
              </div>
            
                <div class="box has-text-centered">
                  <button class="button is-info">Run Match</button>
                </div>
              </form>
            

<script>

let link = String(window.location.href)
link = link.slice(0, -12); 



function summonerAvg(blueSumm1Champ,BlueSumm1,blueSumm2Champ,BlueSumm2,blueSumm3Champ,BlueSumm3,blueSumm4Champ,BlueSumm4,blueSumm5Champ,BlueSumm5,redSumm1Champ,RedSumm1,redSumm2Champ,RedSumm2,redSumm3Champ,RedSumm3,redSumm4Champ,RedSumm4,redSumm5Champ,RedSumm5) {
      blueSumm1Champ = blueSumm1Champ.value;
      BlueSumm1 = BlueSumm1.value;
      blueSumm2Champ = blueSumm2Champ.value;
      BlueSumm2 = BlueSumm2.value;
      blueSumm3Champ = blueSumm3Champ.value;
      BlueSumm3 = BlueSumm3.value;
      blueSumm4Champ = blueSumm4Champ.value;
      BlueSumm4 = BlueSumm4.value;
      blueSumm5Champ = blueSumm5Champ.value;
      BlueSumm5 = BlueSumm5.value;
     
      redSumm1Champ = redSumm1Champ.value;
      RedSumm1 = RedSumm1.value;
      redSumm2Champ = redSumm2Champ.value;
      RedSumm2 = RedSumm2.value;
      redSumm3Champ = redSumm3Champ.value;
      RedSumm3 = RedSumm3.value;
      redSumm4Champ = redSumm4Champ.value;
      RedSumm4 = RedSumm4.value;
      redSumm5Champ = redSumm5Champ.value;
      RedSumm5 = RedSumm5.value;
      postItem(blueSumm1Champ,BlueSumm1,blueSumm2Champ,BlueSumm2,blueSumm3Champ,BlueSumm3,blueSumm4Champ,BlueSumm4,blueSumm5Champ,BlueSumm5,redSumm1Champ,RedSumm1,redSumm2Champ,RedSumm2,redSumm3Champ,RedSumm3,redSumm4Champ,RedSumm4,redSumm5Champ,RedSumm5)

}
function show(pred){
  alert("Red Team", pred.Red, " Blue Team", pred.Blue)
}

function postItem(blueSumm1Champ,BlueSumm1,blueSumm2Champ,BlueSumm2,blueSumm3Champ,BlueSumm3,blueSumm4Champ,BlueSumm4,blueSumm5Champ,BlueSumm5,redSumm1Champ,RedSumm1,redSumm2Champ,RedSumm2,redSumm3Champ,RedSumm3,redSumm4Champ,RedSumm4,redSumm5Champ,RedSumm5){
  fetch(link + "/teamData", {
    method: 'POST',
    headers: {
        'Accept': 'application/json',
        'Content-Type': 'application/json'
      },
      body: JSON.stringify({ 
        "B1Summ": BlueSumm1,
        "B2Summ": BlueSumm2,
        "B3Summ": BlueSumm3,
        "B4Summ": BlueSumm4,
        "B5Summ": BlueSumm5,
        "R1Summ": RedSumm1,
        "R2Summ": RedSumm2,
        "R3Summ": RedSumm3,
        "R4Summ": RedSumm4,
        "R5Summ": RedSumm5,
        "B1": blueSumm1Champ,
        "B2": blueSumm2Champ,
        "B3": blueSumm3Champ,
        "B4": blueSumm4Champ,
        "B5": blueSumm5Champ,
        "R1": redSumm1Champ,
        "R2": redSumm2Champ,
        "R3": redSumm3Champ,
        "R4": redSumm4Champ,
        "R5": redSumm5Champ,
        'Region':"EUW1"
      })
  })
  .then(response => response.json())
    .then(data => {
      obj = data;
    })
    .then(() =>{ 
      show(obj);
    })
  }
  
//postItem()
</script>

{% endblock %}

